@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html,
  body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
  }

  .bgImage {
  background-image: url('../../public/Images/BG.png');
}
}
